.top-section {
  >*:first-of-type {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  & h2 {
    display: inline-block;
    font-size: 2.8rem;
    line-height: calc(41.4 / 28);
    font-weight: 500;
    font-family: var(--font-title);
    margin-bottom: 2.4rem;
  }
}

.top-border-wrapper {
  position: relative;
  z-index: 1;

  & h2 {
    border: 1px solid var(--border-color-black);
    border-radius: 10px 10px 0 0;
    margin-bottom: -1px;
    padding: 8px 24px;
  }

  .top-border-left {
    width: 100%;
    border: 1px solid var(--border-color-black);
    border-radius: 0 10px 10px 0;
    padding: 32px;
  }

  .top-border-right {
    width: 100%;
    max-width: 320px;
    margin-left: 32px;
  }

  .top-border-link {
    display: inline-block;
    border-right: 1px solid var(--border-color-black);
    border-bottom: 1px solid var(--border-color-black);
    border-left: 1px solid var(--border-color-black);
    border-radius: 0 10px 10px 10px;

    & a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px 32px;
      border-radius: inherit;

      &::after {
        content: "";
        display: inline-block;
        width: 60px;
        height: 60px;
        background-image: var(--icon-link);
        margin-left: 16px;
      }
    }
  }
}

section[class*="bg-"]:not(.top-gallery)+section {
  padding-bottom: calc(80px + 56px);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-white::before {
  background-image: var(--bg-wave-white);
}

/* 黄色 */
.bg-yellow::before {
  background-image: var(--bg-wave-yellow);
}

.bg-yellow {
  background: var(--color-yellow);
}

.bg-texture-yellow {
  background-image: var(--bg-texture-yellow);
}

.top-section.bg-texture-yellow::before {
  background-image: var(--bg-wave-texture-yellow);
}

/* オレンジ */
.bg-orange::before {
  background-image: var(--bg-wave-orange);
}

.bg-orange {
  background: var(--color-orange);
}

.bg-texture-orange {
  background-image: var(--bg-texture-orange);
}

.bg-texture-orange::before {
  background-image: var(--bg-wave-texture-orange);
}

/* 青色 */
.bg-blue::before {
  background-image: var(--bg-wave-blue);
}

.bg-blue {
  background: var(--color-blue);
}

.bg-texture-blue {
  background-image: var(--bg-texture-blue);
}

.bg-texture-blue::before {
  background-image: var(--bg-wave-texture-blue);
}

.news-list.top-border-left {
  border-radius: 0 10px 10px 10px;
  padding: 14.5px 32px;
}

.top-about {
  position: relative;
  padding-left: 12.5%;
}

.top-about .top-border-right-img-wrapper {
  width: 100%;
  max-width: 478px;
  position: relative;

}

.top-about .top-border-right-img-wrapper::before,
.top-about .top-border-right-img-wrapper::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: steam-animation 5s infinite;
}

.top-about .top-border-right-img-wrapper::after {
  animation-delay: .8s;
}

section.stack+.stack {
  display: none;
}

@keyframes steam-animation {
  0% {
    transform: translateY(0);
    opacity: .1;
  }

  20% {
    opacity: .4;
  }

  50% {
    transform: translateY(-10px);
    opacity: 1;
  }

  80% {
    opacity: .6;
  }

  100% {
    transform: translateY(0);
    opacity: .1;
  }
}

.top-about .top-border-right-img-wrapper::before {
  width: 67.44px;
  height: 130px;
  top: -37px;
  left: 0;
  background-image: url(/assets/img/top/about-img01-1.png);
}

.top-about .top-border-right-img-wrapper::after {
  width: 62.1px;
  height: 100px;
  top: calc(106px - 37px);
  right: 60px;
  background-image: url(/assets/img/top/about-img01-2.png);
}

.icon-sun::after {
  content: "";
  display: inline-block;
  width: 253px;
  height: 166px;
  background-image: var(--icon-sun);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
  animation: sun-animation ease-in-out 20s infinite;
}

@keyframes sun-animation {
  0% {
    transform: translateX(-50%) translateY(100%);
    opacity: .3;
  }

  30% {
    transform: translateX(-50%) translateY(0%);
    opacity: 1;
  }

  70% {
    transform: translateX(-50%) translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(100%);
    opacity: .3;
  }
}

.top-sightseeing01 {

  .top-border-left {
    width: 100%;

    & h2 {
      font-size: 4rem;
      line-height: calc(59.16 / 40);
    }

    & p {
      font-size: 1.8rem;
      line-height: calc(28.8 / 18);
      margin-bottom: 39px;
    }
  }

  .top-border-right {
    width: 100%;
    max-width: 230px;
  }

  .top-sightseeing-items {
    flex-wrap: wrap;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;

    .sight-seeing-item {
      width: calc(100% / 3);
    }

    .sight-seeing-item {
      &:nth-of-type(3n) {
        margin-top: calc(59px * 2);
        transform: translateX(-2px);
      }

      &:nth-of-type(3n - 1) {
        margin-top: calc(59px * 1);
        transform: translateX(-1px);
      }

      .top-border-left {
        padding: 32px;

        p {
          margin-bottom: 16px;
        }
      }

      .top-border-left-img {
        width: 100%;
        max-width: 220px;
        margin: 0 auto;
        position: relative;

        &::after {
          content: "";
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
        }
      }

      &.item-activity .top-border-left-img::after {
        width: 113px;
        height: 110px;
        background-image: url(/assets/img/top/illu-sightseeing-img01.png);
        right: -57px;
        bottom: -1px;
      }

      &.item-event .top-border-left-img::after {
        width: 100px;
        height: 110px;
        background-image: url(/assets/img/top/illu-sightseeing-img02.png);
        right: -58px;
        bottom: 38px;
      }

      &.item-shop .top-border-left-img::after {
        width: 113px;
        height: 104px;
        background-image: url(/assets/img/top/illu-sightseeing-img03.png);
        right: -46px;
        bottom: 9px;
      }
    }
  }
}

.top-sightseeing02 {
  .sight-seeing-item02-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--border-color-black);
    border-radius: 10px;

    .top-border-right {
      width: 100%;
      max-width: 560px;
      margin-left: 0;

      & img {
        height: 100%;
        object-fit: cover;
        border-radius: 0 10px 10px 0;
      }


    }

    .top-border-left {
      width: 100%;
      border: none;
      max-width: 400px;
      padding: 0;

      & h2 {
        display: block;
        border: none;
        border-bottom: 1px solid var(--border-color-black);
      }

      & p {
        margin: 16px 32px 32px;
      }

      .top-border-left-img {
        text-align: center;
        padding: 32px 32px 0;
        border-radius: 0 10px 10px 0;

        & img {
          width: revert-layer;
          max-width: max-content;
          border-radius: inherit;
        }
      }

      .top-border-link {
        display: flex;
        justify-content: center;
        border: none;
        border-top: 1px solid var(--border-color-black);
        border-radius: 0;
      }
    }

    &:nth-of-type(1n) {
      border-left: 1px solid var(--border-color-black);

      .top-border-right {
        & img {
          border-radius: 0 10px 10px 0;
          border-left: 1px solid var(--border-color-black);
        }
      }
    }

    &:nth-of-type(2n) {
      flex-direction: row-reverse;
      border-right: 1px solid var(--border-color-black);

      .top-border-right {
        & img {
          border-radius: 10px 0 0 10px;
          border: none;
          border-right: 1px solid var(--border-color-black);
        }
      }
    }

    +.sight-seeing-item02-item {
      margin-top: 48px;
    }
  }
}

.top-gallery {
  padding-bottom: 80px !important;

  .medium-width-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
    padding: 80px 0 0;
  }

  & h2 {
    font-size: 2.8rem;
    line-height: calc(41.41 / 28);
    margin-bottom: 0;
  }

  .more-view a {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      display: inline-block;
      width: 60px;
      height: 60px;
      background-image: var(--icon-link);
      margin-left: 16px;
    }
  }



  .top-gallery-slider {
    width: 150vw;

    .top-gallery-slider-inner {
      width: 100%;
      max-width: 300px;
      margin: 0 4px;

      img {
        object-fit: cover;
        aspect-ratio: 300 / 200;
        border-radius: 10px;
      }
    }

    +.top-gallery-slider {
      margin-top: 8px;
      position: relative;
      left: -100px;
      margin-bottom: 32px;
    }
  }


}

.top-access {
  background-color: #fff;
  margin: 0;

  .top-access-inner {
    aspect-ratio: 1200 / 459;
    background-image: var(--bg-access01);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    position: relative;
    margin: 0 0 50px;
    padding: 94px 120px 97px;

    &::after {
      content: "";
      display: inline-block;
      width: calc(170px - 32px);
      height: calc(234px - 32px);
      background-image: var(--illust-sightseeing);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    & * {
      background-color: #E9DF00;
    }

    .top-border-left {
      max-width: 400px;
    }
  }
}