/* @font-face {
  font-family: "ZenKakuGothicAntique";
  src:
    url("../fonts/ZenKakuGothicAntique-Medium.woff") format("woff"),
    url("../fonts/ZenKakuGothicAntique-Medium.ttf") format("truetype");

  font-family: "Sawarabi Mincho";
  src:
    url("../fonts/SawarabiMincho-Regular.woff") format("woff"),
    url("../fonts/SawarabiMincho-Regular.ttf") format("truetype");

  font-family: "Roboto";
  src:
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
} */
html {
  overflow-x: hidden;
}

body {
  color: var(--color-black);
  font-family: var(--font-main);
  font-size: 1.6rem;
  line-height: calc(25.66 / 16);
  font-weight: 500;
  letter-spacing: .2em;
  overflow-x: hidden;
}