.nav-header-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  z-index: 10;

  .nav-header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 16px 0;

    .header-logo {
      margin-right: 10px;
    }

    nav {
      >ul {
        display: flex;
        justify-content: flex-end;

        li {
          a {
            padding: 14px 12px;
          }

          ul {
            display: none;
          }
        }

        .submenu {
          >a {
            display: flex;
            align-items: center;
          }

          a::after {
            content: "";
            display: inline-block;
            width: 10px;
            height: 5px;
            background-image: url(../../img/common/gnav-arrow.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-left: 8px;
            padding: 10px 7px;
          }
        }
      }
    }
  }


}



.sns-wrapper {
  position: fixed;
  right: 0;
  top: 145px;

  >div+div {
    margin-top: 8px;
  }
}