.full-width-wrapper {
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
  position: relative;
}

.top-section {
  margin: 56px calc(50% - 50vw) -56px;
  padding: 0 calc(50vw - 50%) 56px;
  position: relative;
}

.top-section::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.top-section.bg-yellow::before {
  background-image: var(--bg-wave-yellow);
}

.top-section.bg-orange::before {
  background-image: var(--bg-wave-orange);
}

.large-width-wrapper,
.medium-width-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.large-width-wrapper {
  max-width: calc(1200px + (20px * 2));
}

.medium-width-wrapper {
  max-width: calc(960px + (20px * 2));
}