.full-width-wrapper {
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
  position: relative;
  overflow: hidden;
}

.top-section {
  width: 100vw !important;
  margin: 85.66px calc(50% - 50vw) -67px;
  padding: 0 calc(50vw - 50%) 56px;
  background-size: 250px;
}

*[class^="bg-texture-"] {
  position: relative;
}

*[class^="bg-texture-"]::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-size: contain;
  background-position: bottom center;
  background-repeat: repeat-x;
}

.large-width-wrapper,
.medium-width-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.large-width-wrapper {
  max-width: calc(1200px + (20px * 2));
}

.medium-width-wrapper {
  max-width: calc(960px + (20px * 2));
}